body {
  background: #fff;
  color: #333;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  color: #555;
  margin: 0;
}

ul {
  /*list-style-type: none;*/
  margin: 0;
  padding: 2px;
}

li {
  /*float: left;*/
  /*display: inline;*/
  padding: 1px;
}

li a {
  display: block;
  color: #000;
/*padding: 8px 0 8px 16px;*/  
/*text-decoration: none;*/
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #f4a4e9;
  color: red;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  width: 90%;
}

.shapes {}

.circle {
  background: #f6e164;
  border-radius: 100%;
  color: #888;
  height: 50px;
  width: 50px;
}

.square {
  background: #429874;
  border-radius: 2px;
  height: 75px;
  margin: 0 auto;
  opacity: .8;
  width: 75px;
}

.triangle{
  width: 0; 
  height: 0; 
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid green;
 /*border-radius: 2px;*/
}

.triangle-left {
  width: 0; 
  height: 0; 
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;  
  border-right: 5px solid #2f2f2f;
}

.shape4 {
  padding: 10px;
  background: red;
  height: 100px;
  width: 300px;
  border-radius: 25px;
}

.shape5 {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}

.shape6 {
  border-radius: 100px;
  background: #895467;
  width: 100px;
  height: 100px;
  margin: -200px;
  padding: 30px;
  border: 2px solid #73AD21;
}

.happy {
  color: #ff8000;
}
